# Ignore common hidden files
.*

# python compile
*.pyc

# Model files
*.pth

# Assets file to download
assets/ai00/*
assets/models/*
!assets/*/README.md

# Node modules
node_modules/

# Include back gitignore, etc
!.git*